<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">


<div class="container">
  <table class="table table-striped"  >
    <thead>

    <tr>
      <ng-container *ngFor="let header of tableConfig.headers">
        <th scope="col" (click)="sort(header.key)">{{header.label}}&nbsp;<!--<i class="fa fa-sort" [ngClass]="orderType === 'asc' ? 'fa fa-sort-up' : 'fa fa-sort-down'"></i>-->
          <i class="fa fa-sort"
             *ngIf="!enable" disabled></i>
          <i *ngIf="orderType==='desc' && enable" class="fa fa-sort-up"></i>
          <i *ngIf="orderType==='asc' && enable" class="fa fa-sort-down"></i>
        </th>
      </ng-container>
    </tr>

    </thead>
    <tbody>
    <ng-container *ngFor="let object of data | sortPipe : key:  orderType ">
      <tr>

        <td *ngFor="let header of tableConfig.headers">{{object[header.key]}}</td>
        <!--<td *ngFor="let header of tableConfig.headers">{{getValue(header.key, object)}}</td> -->

      </tr>
    </ng-container>
    </tbody>
  </table>
</div>



