<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<div class="container">
  <!--Filtro-->

  <div class="form-inline">
    <mat-form-field appearance="fill">
      <mat-label>Filtra per:</mat-label>
      <mat-select [(ngModel)]="filterKey" name="filter">
        <mat-option *ngFor="let column of tableConfig.search.columns" [value]="column">
          {{column}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-form-field">
      <mat-label>Cerca</mat-label>
      <input matInput type="search" [(ngModel)]="filter">
      <button *ngIf="filter" matSuffix mat-icon-button aria-label="Clear" (click)="filter=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>


  <!--Tabella-->
  <table class="table table-bordered">
    <thead>

    <tr class="table-active">
      <ng-container *ngFor="let header of tableConfig.headers">
        <th scope="col" (click)="sort(header.key)">{{header.label}}&nbsp;

          <i *ngIf="!enable" class="fa fa-sort"></i>
          <i *ngIf="orderType==='desc' && enable" class="fa fa-sort-up"></i>
          <i *ngIf="orderType==='asc' && enable" class="fa fa-sort-down"></i>
        </th>
      </ng-container>
    </tr>

    </thead>
    <tbody>
    <ng-container *ngFor="let object of data | sortPipe : key:  orderType | filterPipe: filter :filterKey">
      <tr>

        <td *ngFor="let header of tableConfig.headers">{{object[header.key]}}</td>


      </tr>

    </ng-container>
    </tbody>
  </table>
</div>





