:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
td {
  height: 50px;
  vertical-align: bottom;
  padding-right: 20px;
  text-align: left;
  margin: auto;
}
th{
  border: 1px solid;
}


